.header {
   display: flex;
}

.figure__text {
   color: #E4E5EA;
   font-family: "Montserrat", sans-serif;
   font-size: 10px;
   font-weight: 300;
   margin-top: 10px;
}

.header__nav {
   margin-left: 52px;
   flex: auto;
   padding-top: 4px;
}

.nav__list {
   display: flex;
}

.nav__item {
   color: #E4E5EA;
   font-family: "Inter", sans-serif;
   font-size: 16px;
   font-weight: 500;
}

.nav__item:not(:first-child) {
   margin-left: 30px;
}

.contact__list {
   display: flex;
   padding-top: 4px;
}

.contact__tel {
   color: #FD7034;
   font-family: "Inter", sans-serif;
   font-size: 16px;
   font-weight: 500;
   margin-right: 47px;
}

.contact__item:not(:last-child) {
   margin-right: 30px;
}

@media(max-width:1340px) {
   .header__nav {
      margin-left: 26px;
   }

   .nav__item {
      font-size: 12px;
      text-transform: uppercase;
   }

   .nav__item:not(:first-child) {
      margin-left: 16px;
   }

   .nav__item:last-child {
      display: none;
   }

   .contact__tel {
      margin-right: 15px;
   }

   .contact__item:not(:last-child) {
      margin-right: 10px;
   }
}

@media(max-width:991px) {

   .header__figure {
      display: none;
   }

   .header__contact {
      display: none;
   }

   .header__nav {
      margin-left: 0;
      padding-top: 0;
   }

   .nav__list {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
   }
}